#panel.fake {
  background: none;
}

.gesture-workspace-strip {
  background: #2e3436 url(resource:///org/gnome/shell/theme/noise-texture.png);
  background-repeat: repeat;
}

.gesture-workspace-shadow1,
.gesture-workspace-shadow2 {
  background: white; /* a hack so that the shadow is displayed */
}

.gesture-workspace-shadow1 {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}

.gesture-workspace-shadow2 {
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.6);
}

